body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #222;
  color: #eee;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#continue {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  background: grey;
  color: white;
  cursor: pointer;
}
#continue:hover {
  background: yellow;
  color: black;
}

h1#place {
  color: #f5f5f5 !important;
  position: fixed;
  top: 10px;
  left: 10px;
  margin: 0;
  padding: 0;
  user-select: none;
  pointer-events: none;
}

#sidebar {
  z-index: 2;
  background: black;
  height: 100%;
  width: 300px;
  padding: 20px;
  color: white;
  user-select: none;
  /* position: fixed;
  right: 0;
  top: 0;
  bottom: 0; */
}

#editor-container {
  /* width: calc(100% - 305px); */
  height: 100vh;
  position: relative;
  display: flex;
}

#editor {
  height: 100%;
  width: 100%;
  flex: 1;
}

table.active {
  color: limegreen !important;
}
